.container {
  margin: 0 1% 5% 1%;
  /* background-color: black; */
  text-align: center;
  font: #fff sans-serif;
}

#navbar {
  margin: 0 auto;
  font: 14px sans-serif;
}

#navbar label a {
  text-decoration: none;
}

h1 {
  color: blue;
  margin: 0 auto;
}

h2, p {
  color: #fff;
  padding: 0 auto;
}

.img-grid {
  display: grid;
}
